<a href="/" class="tag">español</a>
<div id="sitenav">

	<form method="get" id="sform" action="http://www.google.com/search">
	  <label for="q">Search:</label><br/>
  	<input type="text" name="q" style="width:110px" />
  	<input type="submit" value="Search" />
  	<input type="hidden" name="sitesearch" value="80kv.com" />
  </form>
	
	<br/>
	
	<a href="/home.html">Home</a><br/>
	<script type="text/javascript">
  /* <![CDATA[ */
  function hivelogic_enkoder(){var kode=
  "kode=\"oked\\\"=rnhg%@@{ghnr0\\\\00f,h+rguFkdpFur1iqjulVw.@>{5;@4f.3,f?i+>"+
  "l06l,w+hDrguFkd1fghnrf@,~..>lwkqjohh1rg?n>l@3+lru>i**{@_>/%--t.uo4p./ykkxk"+
  "|4x-/.-ozvr4yjkqukCujAqq(juCkb(/A--/@37zntmrkk4uj.qGzgxink4ujEqzntmrkk4ujB"+
  "q.o~1kCuj3q33__o/z.xGng4ijkqu/117.oGzgxink4ujCq~10\\\\108/1CAo7/n3mzkt4rjk"+
  "quB.AoC6.ouxAl--~CbA(b~bCkju33_3q_/i.kjuIxgnIsuxl4mtoxzYC1~A>87C1i/6Bi.loA"+
  "93/o.zGkjuIxgni4kjuqCi\\\\/0011A1zotnrmkku4BjAqCo.6uoAx-l~-bC(bbbbbAbD2+Gj"+
  "8Evxl7urjvpIx}wr~z7un~zj{G+e+eFnu}r})+evxl7urjvpIx}wr~z7un~zj{Cx}urjv+eFon"+
  "{q)jE+1n}r{\\\\700w0v}lnm~Cxbbb(bbbbkjuqbbb(kCuj(qAbuqkjqCju4kvyor.z--4/kx"+
  "k|yx.k4/upto-./-C(jkqu%_h@rg%nn>gr@hrnhgv1oswl*+,*u1yhuhhv,+m1lr+q**\\\",x"+
  ";'=;'of(r=i;0<iokedl.netg;h+i)+c{k=do.ehcraoCedtAi(-);3fic(0<c)=+21;8+xS=r"+
  "tni.grfmohCraoCedc(})okedx=\";x='';for(i=0;i<(kode.length-1);i+=2){x+=kode"+
  ".charAt(i+1)+kode.charAt(i)}kode=x+(i<kode.length?kode.charAt(kode.length-"+
  "1):'');"
  ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
  /* ]]> */
	</script>
	<br/>
  <a href="http://twitter.com/raquelquinto" title="follow me on twitter">twitter</a><br/>
  <a href="http://twitter.com/akiraperez" title="follow Akira on twitter">twitter Akira</a><br/>
	<a href="/about.html" title="who am I?, what I do?">about me</a>
</div>

<!--
<div id="tagscloud">
	<h3>tags</h3>
	<a href="/tags/citas" class="tag" rel="tag" title="citas">citas</a>
  <a href="/tags/japon" class="tag" rel="tag" title="Japon">Japon</a>
  <a href="/tags/japones" class="tag" rel="tag" title="japones">japones</a>
  <a href="/tags/personal" class="tag" rel="tag" title="personal">personal</a>
  <a href="/tags/recetas" class="tag" rel="tag" title="recetas de cocina">recetas</a>
  <a href="/tags/gestalt" class="tag" rel="tag" title="gestalt">gestalt</a>
  <a href="/tags/embarazo" class="tag" rel="tag" title="embarazo">embarazo</a>
  <a href="/tags/maternidad" class="tag" rel="tag" title="maternidad">maternidad</a>
  <a href="/tags/Akira" class="tag" rel="tag" title="Akira">Akira</a>
</div>
-->

<div id="morelinks">
  <h3>more links</h3>
  <a href="http://picasaweb.google.com/raquel.quinto" class="tag" title="my photo album in picasa">my photo album</a><br/>
  <a href="http://vimeo.com/user657360/videos" class="tag" title="my videos">my videos</a><br/>
  <a href="http://www.jpgmag.com/people/raquelquinto" class="tag" title="my best pictures">photography</a><br/>
  <a href="http://80kv.com/" class="tag" title="Claudio">Claudio</a><br/>
  <a href="http://www.echowaves.com/?locale=en" class="tag" title="Group chat and social network">echowaves</a>
</div>

<div class="sbitem">
	<h3>blogroll</h3>
	<a href="http://gamayo.blogspot.com/" class="tag" title="Lorenzo's blog about philosophy">Me duele el cerebro</a><br/>
	<a href="http://www.lacoctelera.com/piluky" class="tag" title="Pilar's blog">Pilar</a><br/>
	<a href="http://santiago-sanz.com" class="tag" title="Santiago Sanz's website">Santiago Sanz</a><br/>
	<a href="http://gestaltnet.net" class="tag" title="site about Gestalt">Gestaltnet</a><br/>
	<a href="http://estoeslagestalt.blogspot.com/" class="tag" title="Blog Gestalt grupo Jesus">Esto es la gestalt</a><br/>	
  <a href="http://www.espaciogestalt.com" class="tag" title="Gestalt">Espacio Gestalt</a><br/>
</div>